OPTION, ECHO=FALSE;
OPTION, INFO=FALSE;
OPTION, PSDUMPFREQ=10000000000;
OPTION, STATDUMPFREQ=10000000000;

// Now template file is according to the HL Phase2 from the Wicki, 16/2/2011 H. Zha, A. Adelmann
// add third track for drift AA
// add quadrupoles, 17:39, 27/02/2011, Hao Zha
// modify many errors, 03/03/2011, Hao Zha
// add a negitive offset for each TW solenoid, 09/03/2011, Hao Zha
// change the variable of gun solenoid from B field to current, 09/03/2011, Hao Zha
// modify the formular for gun solenoid according to the Wiki page, 15/03/2011, Hao Zha

// TYPE=NOAP prevents from beign autophased

TITLE, STRING="SwissFEL Injector, Phase 3 (January 2011) 1D TWS fieldmap";

REPARTFREQ       = 500;
MINSTEPFORREBIN  = 1000;

QB               = _QBUNCH_;
BFREQ            = _FREQ_;
BCURRENT         = QB*BFREQ*1e6;

// Hao : I assume that this variable would be 0.0 when I check the ELEMEDGE of each element

TWFMAPSHIFT      = 0.075;                 //To be compatible with  ASTRA , Hao : modify it to align center, old = 0.05
TWSOLSHIFT       = -0.375;               //To align field center


USE_ET = 1;

// FIXME: emit_s always = 0

//d1: DVAR, VARIABLE="SIGX", LOWERBOUND="0.000250", UPPERBOUND="0.000290";
//d2: DVAR, VARIABLE="FIND1_MSOL10_i", LOWERBOUND="110", UPPERBOUND="120";
//d3: DVAR, VARIABLE="D_LAG_RGUN", LOWERBOUND="0.0", UPPERBOUND="0.05";
//d4: DVAR, VARIABLE="FINSB01_RACC_volt", LOWERBOUND="25", UPPERBOUND="40";
//d5: DVAR, VARIABLE="FINSB02_RACC_volt", LOWERBOUND="25", UPPERBOUND="40";
//d6: DVAR, VARIABLE="FINSB01_MSOL10_ks", LOWERBOUND="0.1", UPPERBOUND="0.5";
//d7: DVAR, VARIABLE="FINSB01_MSOL20_ks", LOWERBOUND="0.1", UPPERBOUND="0.5";
//d8: DVAR, VARIABLE="FINSB01_MSOL30_ks", LOWERBOUND="0.1", UPPERBOUND="0.5";
//d9: DVAR, VARIABLE="FINSB01_MSOL40_ks", LOWERBOUND="0.1", UPPERBOUND="0.5";
//d10: DVAR, VARIABLE="FINSB02_MSOL10_ks", LOWERBOUND="0.1", UPPERBOUND="0.5";
//d11: DVAR, VARIABLE="FINSB02_MSOL20_ks", LOWERBOUND="0.1", UPPERBOUND="0.5";
//d12: DVAR, VARIABLE="FINSB02_MSOL30_ks", LOWERBOUND="0.1", UPPERBOUND="0.5";
//d13: DVAR, VARIABLE="FINSB02_MSOL40_ks", LOWERBOUND="0.1", UPPERBOUND="0.5";
//obj1: OBJECTIVE, EXPR="dE";
//obj2: OBJECTIVE, EXPR="emit_x";
//obj3: OBJECTIVE, EXPR="emit_s";
//c1: CONSTRAINT, EXPR="energy > 130";
//objs: OBJECTIVES = (obj1, obj2, obj3);
//dvars: DVARS = (d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12, d13);
//constrs: CONSTRAINTS = (c1);
//opt: OPTIMIZE, OBJECTIVES=objs, DVARS=dvars, CONSTRAINTS=constrs;

IF (USE_ET > 0) {
 OPTION, AUTOPHASE=0;
 FINSS_RGUN_dphi   = 2.23245;
 FINSB01_RACC_dphi = 1.2482;
 FINSB02_RACC_dphi = 1.1526;
 FINSB03_RACC_dphi = 0.0/180.0*PI;
 FINSB04_RACC_dphi = -34.2/180.0*PI;
 FINXB_RACC_dphi   = 0.0/180.0*PI;
 FIND1_RTDC_dphi   = 0.0/180.0*PI;
 F10D1_RTDC_dphi   = 0.0/180.0*PI;
}
else {
 OPTION, AUTOPHASE=0;
 FINSS_RGUN_dphi   = _FINSS_RGUN_dphi_/180.0*PI;
 FINSB01_RACC_dphi = _FINSB01_RACC_dphi_/180.0*PI;
 FINSB02_RACC_dphi = _FINSB02_RACC_dphi_/180.0*PI;
 FINSB03_RACC_dphi = _FINSB03_RACC_dphi_/180.0*PI;
 FINSB04_RACC_dphi = _FINSB04_RACC_dphi_/180.0*PI;
 FINXB_RACC_dphi   = _FINXB_RACC_dphi_/180.0*PI;
 FIND1_RTDC_dphi   = _FIND1_RTDC_dphi_/180.0*PI;
 F10D1_RTDC_dphi   = _F10D1_RTDC_dphi_/180.0*PI;
}


// -----------------------------------------------------------------------------------------
//             RF-COMPONENTS
// -----------------------------------------------------------------------------------------

// Hao: the L and ELEMEDGE of these elements were checked in 9:53 AM, 16-02-2011 from HI.Liste @ Phase 2

// Hao : I assume that the variable TWFMAOSHIFT would be 0.0 when I check the ELEMEDGE of each element

FINSS_RGUN:   RFCAVITY, L = 0.25, VOLT = _FINSS_RGUN_volt_, FMAPFN = "FINSS-RGUN.dat",
              ELEMEDGE = 0.0, TYPE = "STANDING", FREQ = _FREQ_,
              LAG = FINSS_RGUN_dphi; // + _D_LAG_RGUN_;

FINSB01_RACC: TRAVELINGWAVE, L = 4.15, VOLT = _FINSB01_RACC_volt_, FMAPFN = "TWS_PSI_Sband_ASTRA.dat",
              ELEMEDGE = 2.95+TWFMAPSHIFT, NUMCELLS = 120, MODE = 1/3,
              ACCURACY = 39, FREQ = 2998.0, LAG = FINSB01_RACC_dphi;// + _D_LAG_B01_;

FINSB02_RACC: TRAVELINGWAVE, L = 4.15, VOLT = _FINSB02_RACC_volt_, FMAPFN = "TWS_PSI_Sband_ASTRA.dat",
              ELEMEDGE = 7.95+TWFMAPSHIFT, NUMCELLS = 120, MODE = 1/3,
              ACCURACY = 39, FREQ = 2998.0, LAG = FINSB02_RACC_dphi;// + _D_LAG_B02_;

FINSB03_RACC: TRAVELINGWAVE, L = 4.15, VOLT = _FINSB03_RACC_volt_, FMAPFN = "TWS_PSI_Sband_ASTRA.dat",
              ELEMEDGE = 12.95+TWFMAPSHIFT, NUMCELLS = 120, MODE = 1/3,
              ACCURACY = 39, FREQ = 2998.0, LAG = FINSB03_RACC_dphi;

FINSB04_RACC: TRAVELINGWAVE, L = 4.15, VOLT = _FINSB04_RACC_volt_, FMAPFN = "TWS_PSI_Sband_ASTRA.dat",// Hao : add quadrupoles
              ELEMEDGE = 17.95+TWFMAPSHIFT, NUMCELLS = 120, MODE = 1/3,
              ACCURACY = 39, FREQ = 2998.0, LAG = FINSB04_RACC_dphi;                                 // Hao: this element cann't be found

FINXB_RACC:   TRAVELINGWAVE, L = 0.965, VOLT = _FINXB_RACC_volt_, FMAPFN = "FINSB01-RACC.T7",
              ELEMEDGE = 24.95+TWFMAPSHIFT, NUMCELLS = 120, MODE = 1/3,
              ACCURACY = 39, FREQ = 11000.0, LAG = FINXB_RACC_dphi;                                  // Hao: this element cann't be found

FIND1_RTDC:   RFCavity, TYPE=NOAP, L =  0.1, VOLT = _FIND1_RTDC_volt_, FMAPFN = "FIND1_RTDC.h5part",
              ELEMEDGE = 0.9665, TYPE = "STANDING", FREQ = 3003.13,
              LAG = FIND1_RTDC_dphi;

F10D1_RTDC:   RFCavity, TYPE=NOAP, L =  0.4388, VOLT = _F10D1_RTDC_volt_, FMAPFN = "FIND1_RTDC.h5part",
              ELEMEDGE = 42.4711, TYPE = "STANDING", FREQ = 3003.13,
              LAG = F10D1_RTDC_dphi;                                                                 // Hao: old L = 0.441

// --------------------------------------------------------------------------------------------------------------
//             SOLENOIDS
// --------------------------------------------------------------------------------------------------------------

// Hao: the L and ELEMEDGE of these elements were checked in 9:58 AM, 16-02-2011 from HI.Liste @ Phase 2

FIND1_MSOL10:   SOLENOID, L = 0.26, KS = _FIND1_MSOL10_i_*0.38704/220 + 0.0022, FMAPFN = "NEW_SINGLE_SOL_NOFRINGE_OPAL.dat", ELEMEDGE = 0.3;   // Hao: old L = 0.6, ELEMEDGE = 0.3
FINSB01_MSOL10: SOLENOID, L = 0.75, KS = _FINSB01_MSOL10_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE =  3.375 + TWSOLSHIFT;
FINSB01_MSOL20: SOLENOID, L = 0.75, KS = _FINSB01_MSOL20_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE =  4.225 + TWSOLSHIFT;
FINSB01_MSOL30: SOLENOID, L = 0.75, KS = _FINSB01_MSOL30_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE =  5.075 + TWSOLSHIFT;
FINSB01_MSOL40: SOLENOID, L = 0.75, KS = _FINSB01_MSOL40_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE =  5.925 + TWSOLSHIFT;

FINSB02_MSOL10: SOLENOID, L = 0.75, KS = _FINSB02_MSOL10_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE =  8.375 + TWSOLSHIFT;
FINSB02_MSOL20: SOLENOID, L = 0.75, KS = _FINSB02_MSOL20_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE =  9.225 + TWSOLSHIFT;
FINSB02_MSOL30: SOLENOID, L = 0.75, KS = _FINSB02_MSOL30_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE = 10.075 + TWSOLSHIFT;
FINSB02_MSOL40: SOLENOID, L = 0.75, KS = _FINSB02_MSOL40_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE = 10.925 + TWSOLSHIFT;

FINSB03_MSOL10: SOLENOID, L = 0.75, KS = _FINSB03_MSOL10_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE = 13.375 + TWSOLSHIFT;
FINSB03_MSOL20: SOLENOID, L = 0.75, KS = _FINSB03_MSOL20_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE = 14.225 + TWSOLSHIFT;
FINSB03_MSOL30: SOLENOID, L = 0.75, KS = _FINSB03_MSOL30_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE = 15.075 + TWSOLSHIFT;
FINSB03_MSOL40: SOLENOID, L = 0.75, KS = _FINSB03_MSOL40_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE = 15.925 + TWSOLSHIFT;

FINSB04_MSOL10: SOLENOID, L = 0.75, KS = _FINSB04_MSOL10_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE = 18.375 + TWSOLSHIFT;   // Hao: this element cann't be found
FINSB04_MSOL20: SOLENOID, L = 0.75, KS = _FINSB04_MSOL20_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE = 19.225 + TWSOLSHIFT;   // Hao: this element cann't be found
FINSB04_MSOL30: SOLENOID, L = 0.75, KS = _FINSB04_MSOL30_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE = 20.075 + TWSOLSHIFT;   // Hao: this element cann't be found
FINSB04_MSOL40: SOLENOID, L = 0.75, KS = _FINSB04_MSOL40_ks_, FMAPFN = "INSB_MSLAC_Bz_NOFRINGE_OPAL.dat", ELEMEDGE = 20.925 + TWSOLSHIFT;   // Hao: this element cann't be found

END: SOLENOID, L=0.01, KS = 0.0, ELEMEDGE=70., FMAPFN="INSB_MSLAC_Bz_NOFRINGE_OPAL.dat";                                       // Hao: this element cann't be found

// --------------------------------------------------------------------------------------------------------------
//             QUADRUPOLES
// --------------------------------------------------------------------------------------------------------------

// Hao: the L and ELEMEDGE of these elements were checked in 10:01 AM, 16-02-2011 from HI.Liste @ Phase 2

FINXB_MQUA10: QUADRUPOLE,  L = 0.15, K1= _FINXB_MQUA10_k1_, ELEMEDGE = 22.93;
FINXB_MQUA20: QUADRUPOLE,  L = 0.15, K1= _FINXB_MQUA20_k1_, ELEMEDGE = 23.28;
FINXB_MQUA30: QUADRUPOLE,  L = 0.15, K1= _FINXB_MQUA30_k1_, ELEMEDGE = 23.63;
FINXB_MQUA40: QUADRUPOLE,  L = 0.15, K1= _FINXB_MQUA40_k1_, ELEMEDGE = 27.01;
FINXB_MQUA50: QUADRUPOLE,  L = 0.15, K1= _FINXB_MQUA50_k1_, ELEMEDGE = 27.36; // Hao: the K1 of this must be MQUA50 ?
F10D1_MQUA10: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA10_k1_, ELEMEDGE = 39.652;
F10D1_MQUA15: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA15_k1_, ELEMEDGE = 40.011;
F10D1_MQUA20: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA20_k1_, ELEMEDGE = 40.611;
F10D1_MQUA25: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA25_k1_, ELEMEDGE = 41.211;
F10D1_MQUA30: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA30_k1_, ELEMEDGE = 41.811;
F10D1_MQUA35: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA35_k1_, ELEMEDGE = 43.511;
F10D1_MQUA40: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA40_k1_, ELEMEDGE = 44.087;
F10D1_MQUA45: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA45_k1_, ELEMEDGE = 44.687;
F10D1_MQUA50: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA50_k1_, ELEMEDGE = 45.437;
F10D1_MQUA55: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA55_k1_, ELEMEDGE = 46.037;
F10D1_MQUA60: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA60_k1_, ELEMEDGE = 47.043;
F10D1_MQUA65: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA65_k1_, ELEMEDGE = 48.543;
F10D1_MQUA70: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA70_k1_, ELEMEDGE = 50.043;
F10D1_MQUA75: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA75_k1_, ELEMEDGE = 51.543;
F10D1_MQUA80: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA80_k1_, ELEMEDGE = 53.043;
F10D1_MQUA85: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA85_k1_, ELEMEDGE = 54.543;
F10D1_MQUA90: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA90_k1_, ELEMEDGE = 56.043;
F10D1_MQUA95: QUADRUPOLE,  L = 0.15, K1= _F10D1_MQUA95_k1_, ELEMEDGE = 57.543;


// --------------------------------------------------------------------------------------------------------------
//             SCREENS
// --------------------------------------------------------------------------------------------------------------

// Hao, Andreas: these SCREENS were created in 10:20 AM, 16-02-2011 from HI.Liste @ Phase 2

FIND1_DSCR10:   MONITOR, L=0.01, ELEMEDGE=0.902,   OUTFN="FIND1_DSCR10.h5";
FIND1_DSCR20:   MONITOR, L=0.01, ELEMEDGE=1.1259,  OUTFN="FIND1_DSCR20.h5";

FIND100_DSCR10: MONITOR, L=0.01, ELEMEDGE=2.249,   OUTFN="FIND100_DSCR10.h5";
FIND100_DSCR20: MONITOR, L=0.01, ELEMEDGE=2.735,   OUTFN="FIND100_DSCR20.h5";

FINSB01_DSCR10: MONITOR, L=0.01, ELEMEDGE=7.5875,  OUTFN="FINSB01_DSCR10.h5";
//FINSB02_DSCR10: MONITOR, L=0.01, ELEMEDGE=12.5505, OUTFN="FINSB02_DSCR10.h5";
FINSB02_DSCR10: MONITOR, L=0.01, ELEMEDGE=12.50, OUTFN="FINSB02_DSCR10.h5";
FINSB03_DSCR10: MONITOR, L=0.01, ELEMEDGE=17.5505, OUTFN="FINSB03_DSCR10.h5";
FINSB04_DSCR10: MONITOR, L=0.01, ELEMEDGE=22.5505, OUTFN="FINSB04_DSCR10.h5";

FINXB_DSCR10:   MONITOR, L=0.01, ELEMEDGE=24.653,  OUTFN="FINXB_DSCR10.h5";
FINXB_DSCR20:   MONITOR, L=0.01, ELEMEDGE=26.212,  OUTFN="FINXB_DSCR20.h5";
FINXB_DSCR30:   MONITOR, L=0.01, ELEMEDGE=33.2775, OUTFN="FINXB_DSCR30.h5";

F10D1_DSCR10:   MONITOR, L=0.01, ELEMEDGE=40.305,  OUTFN="F10D1_DSCR10.h5";
F10D1_DSCR20:   MONITOR, L=0.01, ELEMEDGE=42.272,  OUTFN="F10D1_DSCR20.h5";
F10D1_DSCR30:   MONITOR, L=0.01, ELEMEDGE=43.129,  OUTFN="F10D1_DSCR30.h5";
F10D1_DSCR40:   MONITOR, L=0.01, ELEMEDGE=46.615,  OUTFN="F10D1_DSCR40.h5";
F10D1_DSCR45:   MONITOR, L=0.01, ELEMEDGE=47.868,  OUTFN="F10D1_DSCR45.h5";
F10D1_DSCR50:   MONITOR, L=0.01, ELEMEDGE=49.368,  OUTFN="F10D1_DSCR50.h5";
F10D1_DSCR55:   MONITOR, L=0.01, ELEMEDGE=50.868,  OUTFN="F10D1_DSCR55.h5";
F10D1_DSCR60:   MONITOR, L=0.01, ELEMEDGE=52.368,  OUTFN="F10D1_DSCR60.h5";
F10D1_DSCR65:   MONITOR, L=0.01, ELEMEDGE=53.868,  OUTFN="F10D1_DSCR65.h5";
F10D1_DSCR70:   MONITOR, L=0.01, ELEMEDGE=55.368,  OUTFN="F10D1_DSCR70.h5";
F10D1_DSCR75:   MONITOR, L=0.01, ELEMEDGE=56.868,  OUTFN="F10D1_DSCR75.h5";

F10D100_DSCR10: MONITOR, L=0.01, ELEMEDGE=60.824, OUTFN="F10D100_DSCR10.h5";
F10D101_DSCR10: MONITOR, L=0.01, ELEMEDGE=60.824, OUTFN="F10D101_DSCR10.h5";

SCREEN_END: MONITOR, L=0.01, ELEMEDGE=22.90, OUTFN="SCREEN_END.h5";    //Simona: added a screen at the end of the simulation

Screens: Line = (FIND1_DSCR10, FIND1_DSCR20, FIND100_DSCR10, FIND100_DSCR20,
                 FINSB01_DSCR10, FINSB02_DSCR10, FINSB03_DSCR10, FINSB04_DSCR10,
                 F10D1_DSCR45, F10D1_DSCR50, F10D1_DSCR55, F10D1_DSCR60,              // Hao : add more screens
                 F10D1_DSCR65, F10D1_DSCR70, F10D1_DSCR75,SCREEN_END);				  //Simona: added a screen at 22.90 m



// --------------------------------------------------------------------------------------------------------------
if (USE_ET > 0) {
InjectorPhase3: Line = (FINSS_RGUN,FIND1_MSOL10,
			FINSB01_RACC,FINSB01_MSOL10,FINSB01_MSOL20,FINSB01_MSOL30,FINSB01_MSOL40,
       		FINSB02_RACC,FINSB02_MSOL10,FINSB02_MSOL20,FINSB02_MSOL30,FINSB02_MSOL40,
			END);
}
else {
InjectorPhase3: Line = (FINSS_RGUN,FIND1_MSOL10,
			FINSB01_RACC,FINSB01_MSOL10,FINSB01_MSOL20,FINSB01_MSOL30,FINSB01_MSOL40,
       			FINSB02_RACC,FINSB02_MSOL10,FINSB02_MSOL20,FINSB02_MSOL30,FINSB02_MSOL40,
                        FINXB_MQUA10, FINXB_MQUA20, FINXB_MQUA30, FINXB_MQUA40, FINXB_MQUA50,     // Hao : add quadrupoles
                        F10D1_MQUA10, F10D1_MQUA15, F10D1_MQUA20, F10D1_MQUA25, F10D1_MQUA30,     // Hao : add quadrupoles
                        F10D1_MQUA35, F10D1_MQUA40, F10D1_MQUA45, F10D1_MQUA50, F10D1_MQUA55,     // Hao : add quadrupoles
                        F10D1_MQUA60, F10D1_MQUA65, F10D1_MQUA70, F10D1_MQUA75, F10D1_MQUA80,     // Hao : add quadrupoles
                        F10D1_MQUA85, F10D1_MQUA90, F10D1_MQUA95,
			Screens,
			END);
}

if (USE_ET > 0) {
Dist1: DISTRIBUTION, DISTRIBUTION = "GUNGAUSSFLATTOPTH",
	    SIGMAX = 2*_SIGX_, SIGMAPX = 0.0, CORRX = 0.0,
	    SIGMAY = 2*_SIGX_, SIGMAPY = 0.0, CORRY = 0.0,
	    SIGMAT = 0.0, PT = 0.0, SIGMAPT = 0.0, CORRT = 0.0,
	    TRISE = _TRISE_, TFALL = _TFALL_, TPULSEFWHM = _TFWHM_,
	    EKIN = _EKIN_, NBIN = _NBIN_;
}
else{
Dist1: DISTRIBUTION, DISTRIBUTION = "GUNGAUSSFLATTOPTH",
	    SIGMAX = 2*_SIGX_, SIGMAPX = 0.0, CORRX = 0.0,
	    SIGMAY = 2*_SIGY_, SIGMAPY = 0.0, CORRY = 0.0,
	    SIGMAT = 0.0, PT = 0.0, SIGMAPT = 0.0, CORRT = 0.0,
	    TRISE = _TRISE_, TFALL = _TFALL_, TPULSEFWHM = _TFWHM_,
	    EKIN = _EKIN_, NBIN = _NBIN_,
            FTOSCAMPLITUDE=_FTOSCAMPLITUDE_ ,FTOSCPERIODS=_FTOSCPERIODS_,CUTOFF=_CUTOFF_;
}


Fs1: FIELDSOLVER, FSTYPE=NONE, MX=_MX_, MY=_MY_, MT=_MT_,
      PARFFTX=true, PARFFTY=true, PARFFTT=true,
      BCFFTX=open, BCFFTY=open, BCFFTT=open,
      BBOXINCR=1, GREENSF=INTEGRATED;

if (USE_ET > 0) {

 beam1: BEAM, PARTICLE=ELECTRON, pc=P0, NSLICE=_NSLICE_, BFREQ=BFREQ, BCURRENT=BCURRENT, CHARGE=-1;
 SELECT, LINE = InjectorPhase3;

 TRACK, LINE=InjectorPhase3, BEAM=beam1, MAXSTEPS=1000000, DT=_DT_, ZSTOP=_ZSTOP_;
  RUN, METHOD = "PARALLEL-SLICE", BEAM = beam1, FIELDSOLVER = Fs1, DISTRIBUTION = Dist1;
 ENDTRACK;

//// TRACK, LINE=InjectorPhase3, BEAM=beam1, MAXSTEPS=1000000, DT=_DT_, ZSTOP=_ZSTOP_;
////  RUN, METHOD = "PARALLEL-SLICE", BEAM=beam1, FIELDSOLVER=Fs1;
//// ENDTRACK;

}
else {

 beam1: BEAM, PARTICLE=ELECTRON, pc=P0, NPART=_NPART_, BFREQ=BFREQ, BCURRENT=BCURRENT, CHARGE=-1;

 SELECT, LINE = InjectorPhase3;

 TRACK, LINE=InjectorPhase3, BEAM=beam1, MAXSTEPS=1000000, DT=_DTGUN_, ZSTOP=_ZSTOPGUN_;
  RUN, METHOD = "PARALLEL-T", BEAM = beam1, FIELDSOLVER = Fs1, DISTRIBUTION = Dist1;
 ENDTRACK;

 TRACK, LINE=InjectorPhase3, BEAM=beam1, MAXSTEPS=1000000, DT=_DT_, ZSTOP=_ZSTOP_;
  RUN, METHOD = "PARALLEL-T", BEAM=beam1, FIELDSOLVER=Fs1;
 ENDTRACK;

}
QUIT;
